{sub_dirs, ["rel"]}.
{plugins, [rebar_covertool]}.

{deps, [
        { meck, ".*", {git, "https://github.com/eproxus/meck.git", {tag, "0.8.2"}}},
        { covertool, ".*", {git, "https://github.com/idubrov/covertool.git", {branch, "master"}}}
       ]}.

{erl_opts, [{parse_transform, lager_transform}]}.

{cover_enabled, true}.  

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_export_enabled, true}.
{covertool_eunit, {".eunit/eunit.coverdata", "eunit.coverage.xml"}}. % Source file name, output report file name

